townhall_demo/src/main/mule/townhall_demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="485b8013-689c-4f31-9692-702a03346178" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="townhall_demoFlow" doc:id="26bd30f5-9521-4ad3-8b72-66f61033d6b4" >
		<http:listener doc:name="Listener" doc:id="aba1affd-0512-42d1-b872-416032da8ed4" config-ref="HTTP_Listener_config" path="/"/>
		<set-payload value='#["mulesofts"]' doc:name="Set Payload" doc:id="b9c30582-4cce-4274-9bf0-341f7c6e0855" />
	</flow>
</mule>
