cicd-townhall-demo1/src/main/mule/cicd-townhall-demo1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5a9f4581-7d00-4e41-a2b1-8f3f587b2735" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-townhall-demo1Flow" doc:id="31fee8f7-d57a-40ad-b903-894ad8c58597" >
		<http:listener doc:name="Listener" doc:id="26863ff4-1afd-4d34-8dab-619b1647c627" config-ref="HTTP_Listener_config" path="/"/>
		<set-payload value='#["mulesoft"]' doc:name="Set Payload" doc:id="397a2cef-690d-429a-9dda-b0248747fb29" />
	</flow>
</mule>
